<form method="post" action="{{ path('ligne_panier_delete', {'produit': ligne_panier.produit}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_panier.produit) }}">
    <button class="btn">Delete</button>
</form>
