{% extends 'default/site.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block content %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Stock</th>
                {% block th_action %} <th>Choix</th>{% endblock %}

            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.prix }} €</td>
                <td>{{ produit.qteStock }}</td>
                {% block td_action %}
                    {# todo liste déroulante #}
                    <td>liste déroulante</td>
                {% endblock %}

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block add_cart %}
        {#todo#}
        <a><button>Ajouter au panier</button></a>
    {% endblock %}


{% endblock %}
