{% extends 'produit/list.html.twig' %}

{#Ce template redéfini certaines parties la la liste des produits dédiée aux utilisateurs
Pour faire apparaître un bouton permettant de changer le stock #}

{% block th_action %}
    <th>action</th>
{% endblock %}

{% block td_action %}
    <td>
        {# Je surcharge l'action du formulaire dans le bouton 'éditer' pour éviter d'être redirigé vers '/panier/add' #}
        <button formaction="{{ path('produit_edit', {'id': produit.id}) }}">changer stock</button>
    </td>
{% endblock %}

{% block add_cart %} {% endblock %}

{% block content %}
    {{ parent() }}
    <p> <a href="{{ path('produit_new') }}"><button>Ajouter un nouveau</button></a> </p>
{% endblock %}

{# Fichier par josué Raad et Florian Portrait #}
