{% extends 'default/site.html.twig' %}

{% block title %}Ajout de Produit {% endblock %}

{% block content %}
    <h1>Ajouter nouveau Produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
