{% extends 'default/site.html.twig' %}

{% block title %}Ajout de Produit {% endblock %}

{% block content %}
    <h1>Ajout de Produit</h1>

    {{ include('produit/_form.html.twig') }}
{% endblock %}
