{% extends "default/site.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Authentification</h1>

    <p>Vous pourrez bientôt vous authentifier !</p>

{% endblock %}

{# Fichier par josué Raad et Florian Portrait #}
