{% extends 'default/site.html.twig' %}

{% block title %}Inversion de chaîne{% endblock %}

{% block content %}


    <h1>Inversion de chaîne</h1>

    <p>chaîne reçue : {{ str }}</p>
    <p>chaîne inversée : {{ reversed }}</p>

{% endblock %}

{# Fichier par josué Raad et Florian Portrait #}
