{% extends 'default/site.html.twig' %}


{% block title %}Crée un compte utilisateur{% endblock %}


{% block content %}
    <h1>Créer un compte utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}

{% endblock %}

{# Fichier par josué Raad et Florian Portrait #}
