{% extends 'default/site.html.twig' %}

{% block title %}éditer son compte Utilisateur{% endblock %}

{% block content %}
    <h1>Changez votre profil utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}

{% endblock %}
