{% extends "site.html.twig" %}

{% block title %}Logout{% endblock %}

{% block content %}

    {% if userType == 0 %}
        <p>Vous pourrez bientôt vous authentifier !</p>
    {% else %}
        <p>Vous êtes déjà authentifié</p>
    {% endif %}

{% endblock %}
